<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="                 http://www.springframework.org/schema/beans                 http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        Action必须要设置scope="prototype"
        否则Action中注入对象会一直保留上一次的值
    -->

    <!--  employeeAction  -->
    <bean id="employeeAction" class="com.revanwang.wms.web.action.EmployeeAction" scope="prototype">
        <property name="employeeService" ref="employeeService"/>
        <property name="departmentService" ref="departmentService"/>
        <property name="roleService" ref="roleService"/>
    </bean>

    <!--  departmentAction  -->
    <bean id="departmentAction" class="com.revanwang.wms.web.action.DepartmentAction" scope="prototype">
        <property name="departmentService" ref="departmentService"/>
    </bean>

    <!--  permissionAction  -->
    <bean id="permissionAction" class="com.revanwang.wms.web.action.PermissionAction" scope="prototype">
        <property name="permissionService" ref="permissService"/>
    </bean>


    <!--  roleAction  -->
    <bean id="roleAction" class="com.revanwang.wms.web.action.RoleAction" scope="prototype">
        <property name="roleService" ref="roleService"/>
        <property name="permissionService" ref="permissService"/>
        <property name="systemMenuService" ref="systemMenuService"/>
    </bean>


    <!--  loginAction  -->
    <bean id="loginAction" class="com.revanwang.wms.web.action.LoginAction" scope="prototype">
        <property name="employeeService" ref="employeeService"/>
    </bean>


    <!--  persionAction  -->
    <bean id="persionAction" class="com.revanwang.wms.web.action.PersionAction" scope="prototype">
        <property name="persionService" ref="persionService"/>
    </bean>

    <!--  systemMenuAction  -->
    <bean id="systemMenuAction" class="com.revanwang.wms.web.action.SystemMenuAction" scope="prototype">
        <property name="systemMenuService" ref="systemMenuService"/>
    </bean>

    <!--  brandAction  -->
    <bean id="brandAction" class="com.revanwang.wms.web.action.BrandAction" scope="prototype">
        <property name="brandService" ref="brandService"/>
    </bean>

    <!--  supplierAction  -->
    <bean id="supplierAction" class="com.revanwang.wms.web.action.SupplierAction" scope="prototype">
        <property name="supplierService" ref="supplierService"/>
    </bean>

    <!--  productAction  -->
    <bean id="productAction" class="com.revanwang.wms.web.action.ProductAction" scope="prototype">
        <property name="productService" ref="productService"/>
        <property name="brandService" ref="brandService"/>
    </bean>

    <!--  orderBillAction  -->
    <bean id="orderBillAction" class="com.revanwang.wms.web.action.OrderBillAction" scope="prototype">
        <property name="orderBillService" ref="orderBillService"/>
        <property name="supplierService" ref="supplierService"/>
    </bean>

    <!--  depotAction  -->
    <bean id="depotAction" class="com.revanwang.wms.web.action.DepotAction" scope="prototype">
        <property name="depotService" ref="depotService"/>
    </bean>

    <!--  stockInBillAction  -->
    <bean id="stockInBillAction" class="com.revanwang.wms.web.action.StockInBillAction" scope="prototype">
        <property name="stockInBillService" ref="stockInBillService"/>
        <property name="depotService" ref="depotService"/>
    </bean>

    <!--  clientAction  -->
    <bean id="clientAction" class="com.revanwang.wms.web.action.ClientAction" scope="prototype">
        <property name="clientService" ref="clientService"/>
    </bean>

    <!--  productStockAction  -->
    <bean id="productStockAction" class="com.revanwang.wms.web.action.ProductStockAction" scope="prototype">
        <property name="productStockService" ref="productStockService"/>
    </bean>

    <!--  stockOutBillAction  -->
    <bean id="stockOutBillAction" class="com.revanwang.wms.web.action.StockOutBillAction" scope="prototype">
        <property name="stockOutBillService" ref="stockOutBillService"/>
        <property name="depotService" ref="depotService"/>
        <property name="clientService" ref="clientService"/>
    </bean>
</beans>